


<head>
<link href="https://fonts.googleapis.com/css?family=Indie+Flower" rel="stylesheet">
</head>

<div class="container mt-2 font-edit">
<%= form_with(model: apply, local: true) do |form| %>

  <% if apply.errors.any? %>
    <div id="error_explanation">
      <% pluralize(apply.errors.count, "error") %>
      <div class="mt-3">
        <div class="alert alert-danger" role="alert">
          <%= apply.errors.full_messages[0] %>
        </div>
      </div>
    </div>
  <% end %>

  <div class="row">
    <div class="form-group col-6">
      <%= form.label :student_first_name %>
      <%= form.text_field :student_first_name, :class => 'form-control' %>
    </div>

    <div class="form-group col-6">
      <%= form.label :student_last_name %>
      <%= form.text_field :student_last_name, :class => 'form-control' %>
    </div>
  </div>
<div class="row">
  <div class="form-group col-6">
    <%= form.label :parent_first_name %>
    <%= form.text_field :parent_first_name, :class => 'form-control' %>
  </div>

  <div class="form-group col-6">
    <%= form.label :parent_last_name %>
    <%= form.text_field :parent_last_name, :class => 'form-control' %>
  </div>
</div>
<div class="row">

  <div class="form-group col-3">
    <%= form.label :occupation %>
    <%= form.text_field :occupation, :class => 'form-control' %>
  </div>

  <div class="form-group col-3">
    <%= form.label :phone_number %>
    <%= form.text_field :phone_number, :class => 'form-control' %>
  </div>

  <div class="form-group col-3">
    <%= form.label :relative_relation %>
    <%= form.text_field :relative_relation, :class => 'form-control' %>
  </div>
  
  <div class="form-group col-3">
    <%= form.label :address %>
    <%= form.text_field :address, :class => 'form-control' %>
  </div>
</div>
  <div class="form-group">
    <%= form.label :birth_date %>
    <%= form.date_select :birth_date, :class => 'form-control' %>
  </div>

  <div class="form-group" >
    <%= form.label :medical_description %>
    <%= form.text_area :med_description, :class => 'form-control', :rows => "3"%>
  </div>

  <div class="actions homeFeaturesTitle">
    <%= form.submit "Apply", :class => 'btn-control font-edit'%>
  </div>

<% end %>
</div>
