<head>
<link href="https://fonts.googleapis.com/css?family=Indie+Flower" rel="stylesheet">
</head>
<div class="container-fluid">
<ul class="nav nav-bg img2-bg">
  <li class="nav-item">
    <div class="nav-link active" >
    
    </div>
  </li>
  </ul>
  </div>

  <div class ='form-center'>
<p id="notice"><%= notice %></p>
<div class ='btn-control-2 font-edit'>


 <strong>Student first name:</strong>

 <span class= 'color'><%= @apply.student_first_name %> </span> 

<p>
  <strong >Student last name:</strong>
  <span class= 'color'><%= @apply.student_last_name %></span>
</p>

<p>
  <strong >Birth date:</strong>
  <span class= 'color'>  <%= @apply.birth_date %></span>
</p>

<p>
  <strong >Parent first name:</strong>
  <span class= 'color'>  <%= @apply.parent_first_name %></span>
  </p>
</p>

<p>
  <strong >Parent last name:</strong>
  <span class= 'color'>  <%= @apply.parent_last_name %></span>
</p>

<p>
  <strong >Occupation:</strong>
  <span class= 'color'> <%= @apply.occupation %></span>
</p>

<p>
  <strong >Phone number:</strong>
  <span class= 'color'><%= @apply.phone_number %></span>
</p>

<p>
  <strong >Relative relation:</strong>
  <span class= 'color'> <%= @apply.relative_relation %></span>
</p>

<p>
  <strong >Address:</strong>
  <span class= 'color'> <%= @apply.address %></span>
</p>

<p>
  <strong >Med description:</strong>
  <span class= 'color'>  <%= @apply.med_description %></span>
  
</p>

</div>

</div>
<div class= 'center-link' >
<%= link_to 'Edit', edit_apply_path(@apply) %> |
<%= link_to 'Back', applies_path %>
</div>
</div>
</div>
</div>