<p id="notice"><%= notice %></p>

<p>
  <strong>Student first name:</strong>
  <%= @apply.student_first_name %>
</p>

<p>
  <strong>Student last name:</strong>
  <%= @apply.student_last_name %>
</p>

<p>
  <strong>Birth date:</strong>
  <%= @apply.birth_date %>
</p>

<p>
  <strong>Parent first name:</strong>
  <%= @apply.parent_first_name %>
</p>

<p>
  <strong>Parent last name:</strong>
  <%= @apply.parent_last_name %>
</p>

<p>
  <strong>Occupation:</strong>
  <%= @apply.occupation %>
</p>

<p>
  <strong>Phone number:</strong>
  <%= @apply.phone_number %>
</p>

<p>
  <strong>Relative relation:</strong>
  <%= @apply.relative_relation %>
</p>

<p>
  <strong>Address:</strong>
  <%= @apply.address %>
</p>

<p>
  <strong>Med description:</strong>
  <%= @apply.med_description %>
</p>

<%= link_to 'Edit', edit_apply_path(@apply) %> |
<%= link_to 'Back', applies_path %>
