<head>
<link href="https://fonts.googleapis.com/css?family=Indie+Flower" rel="stylesheet">
</head>
<div class="container-fluid">
<ul class="nav nav-bg img2-bg">
  <li class="nav-item">
    <div class="nav-link active" >
    
    </div>
  </li>
  </ul>
  </div>
  <div class="container pt-5 mt-5">
  <div class="row">
    <div class="col-6">
     
      <div class="img-bg"></div>
    </div>
    <div class="col-6">

<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <div class="field form-group font-edit">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true,:class => 'form-control', autocomplete: "email" %>
  </div>

  <div class="field form-group font-edit">
    <%= f.label :password  %><br />
    <%= f.password_field :password,:class => 'form-control', autocomplete: "current-password" %>
  </div>

  <% if devise_mapping.rememberable? %>
    <div class="field">
      <%= f.check_box :remember_me %>
      <%= f.label :remember_me %>
    </div>
  <% end %>

  <div class="actions homeFeaturesTitle">
    <%= f.submit "Log in" ,:class =>'btn-control font-edit'%>
    
  </div>
<% end %>

<%= render "devise/shared/links" %>
</div>
