<!DOCTYPE html>
<html>
  <head>
    <title class="font-sub">Special Kids</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag   'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>
 
  <body>


  <!-- <p class="alert"></p> --> 

  <%alert %>
  <% if user_signed_in? %>
       hello <%= current_user.email %>
      <%= link_to 'Logout', destroy_user_session_path, method: :delete%>
     
    <%end%>
    <%= yield %>
    <div class="last">
        <a href="#"><img className="contactMe" src="https://68ef2f69c7787d4078ac-7864ae55ba174c40683f10ab811d9167.ssl.cf1.rackcdn.com/twitter-icon_32x32.png" alt="myTwitterPage"/></a>
        <a href="#"><img className="contactMe" src="https://68ef2f69c7787d4078ac-7864ae55ba174c40683f10ab811d9167.ssl.cf1.rackcdn.com/youtube-icon_32x32.png" alt="myInstagramPage"/></a>
        <a href="#"><img className="contactMe" src="https://68ef2f69c7787d4078ac-7864ae55ba174c40683f10ab811d9167.ssl.cf1.rackcdn.com/linkedin-icon_32x32.png" alt="myLinkedinPage" /></a>
    </div>
  </body>
</html>
